ciao: Accessories deregistered from Bonjour about 1-2min after launching

**Describe The Bug:**

After updating from an earlier version still using `hap-bonjour`, when running 0.8.2 (which now uses `ciao`), all my accessories are properly registered via Bonjour in the `_hap.tcp.` domain on launch, but disappear after about 1-2min of running, causing homekit to no longer being able to communicate with the devices.

This might be related to #840, even though I do not see the `EINVAL` log messages mentioned there. However, I'm also not running HAP-NodeJS on macOS, but on Raspbian (RPI 4).

I initially suspected an interaction with `mdnsResponder` (which is also running on the RPI), but even with `mdnsResponder` fully stopped/not-running, the behavior is exactly the same.

The setup has been running solidly for years before, and the upgrade now was from `0.7.8` to `0.8.2`.

I'd be happy to supply more information or run test apps, if it is helpful.

*Addendum:* I just tried the `beta` branch too, since I saw it was quite ahead, but it exhibits the same problem for me.

**To Reproduce:**

It can be reproduced (for me) from the repository directly, using the demo accessories, e.g. by cloning the repository, then running

```
npm install
npx tsc
node dist/Core.js
```

and watching the Bonjour registrations with a tool like `dns-sd` or a graphical tool like [Discovery]([http://www.tildesoft.com]).

On previous, non-ciao versions, all accessories would more or less register instantly and stay registered rock-solidly (I've been running my setup years now, and even automatic re-registrations after the network went down, etc..., used to work fine).

With ciao, I see about one accessory per second registered upon launch (much slower than with `hap-bonjour`), and all registrations being removed suddenly after about 1-2min.

**Expected behavior:**

`hap-bonjour` worked rock-solidly for me without any app restarts in months, but `ciao` launches much slower on one hand (registering the accessories initially), and stops advertising them apparently after about 1-2min.

**Logs:**

Here's a log of watching the `_hap._tcp.` Bonjour domain with `dns-sd` on macOS 10.15 when 0.8.2 launches (showing the slow registration rate of one accessory per second), until all accessories are de-registered again (I've abbreviated the names of my own accessories for privacy's sake, but the demo accessories are also included).

```
$ dns-sd -B _hap._tcp.
Browsing for _hap._tcp.
DATE: ---Sat 14 Nov 2020---
14:53:52.430  ...STARTING...
Timestamp     A/R    Flags  if Domain               Service Type         Instance Name
14:54:17.106  Add        2   5 local.               _hap._tcp.           0
14:54:18.334  Add        2   5 local.               _hap._tcp.           10
14:54:19.098  Add        2   5 local.               _hap._tcp.           11
14:54:20.065  Add        2   5 local.               _hap._tcp.           12
14:54:20.980  Add        2   5 local.               _hap._tcp.           13
14:54:22.540  Add        2   5 local.               _hap._tcp.           13
14:54:24.599  Add        2   5 local.               _hap._tcp.           14
14:54:25.875  Add        2   5 local.               _hap._tcp.           15
14:54:27.201  Add        2   5 local.               _hap._tcp.           16
14:54:28.199  Add        2   5 local.               _hap._tcp.           17
14:54:29.521  Add        2   5 local.               _hap._tcp.           18
14:54:30.521  Add        2   5 local.               _hap._tcp.           19
14:54:31.844  Add        2   5 local.               _hap._tcp.           20
14:54:33.025  Add        2   5 local.               _hap._tcp.           21
14:54:34.295  Add        2   5 local.               _hap._tcp.           22
14:54:35.383  Add        2   5 local.               _hap._tcp.           23
14:54:36.321  Add        2   5 local.               _hap._tcp.           24
14:54:37.390  Add        2   5 local.               _hap._tcp.           25
14:54:38.619  Add        2   5 local.               _hap._tcp.           25
14:54:39.713  Add        2   5 local.               _hap._tcp.           26
14:54:41.244  Add        2   5 local.               _hap._tcp.           27
14:54:43.002  Add        2   5 local.               _hap._tcp.           28
14:54:44.133  Add        2   5 local.               _hap._tcp.           29
14:54:45.190  Add        2   5 local.               _hap._tcp.           30
14:54:46.415  Add        2   5 local.               _hap._tcp.           4
14:54:48.677  Add        2   5 local.               _hap._tcp.           5
14:54:51.205  Add        2   5 local.               _hap._tcp.           6
14:54:52.437  Add        2   5 local.               _hap._tcp.           8
14:54:54.003  Add        2   5 local.               _hap._tcp.           9
14:54:55.229  Add        2   5 local.               _hap._tcp.           Air Conditioner E78C
14:54:56.357  Add        2   5 local.               _hap._tcp.           Remote 871C
14:54:57.349  Add        2   5 local.               _hap._tcp.           IPCamera B1CE
14:54:58.015  Add        2   5 local.               _hap._tcp.           Fan E78C
14:54:58.792  Add        2   5 local.               _hap._tcp.           Garage Door E0CE
14:54:59.833  Add        2   5 local.               _hap._tcp.           Simple Light 83BF
14:55:00.729  Add        2   5 local.               _hap._tcp.           Lock 0C82
14:55:01.957  Add        2   5 local.               _hap._tcp.           Motion Sensor 2CCC
14:55:02.572  Add        2   5 local.               _hap._tcp.           Outlet FFC3
14:55:03.279  Add        2   5 local.               _hap._tcp.           SmartSpeaker 522C
14:55:04.415  Add        2   5 local.               _hap._tcp.           💦 Sprinkler C551
14:55:05.148  Add        2   5 local.               _hap._tcp.           TV 8BF9
14:55:06.260  Add        2   5 local.               _hap._tcp.           Temperature Sensor 1B6A
14:55:06.984  Add        2   5 local.               _hap._tcp.           Thermostat 1 19DA
14:55:07.946  Add        2   5 local.               _hap._tcp.           Wi-Fi Router 0F41
14:55:08.857  Add        2   5 local.               _hap._tcp.           Wi-Fi Satellite 635D
14:55:09.730  Add        2   5 local.               _hap._tcp.           31
14:56:04.321  Rmv        0   5 local.               _hap._tcp.           0
14:56:31.113  Rmv        1   5 local.               _hap._tcp.           11
14:56:31.113  Rmv        1   5 local.               _hap._tcp.           10
14:56:31.113  Rmv        1   5 local.               _hap._tcp.           12
14:56:31.113  Rmv        1   5 local.               _hap._tcp.           13
14:56:31.113  Rmv        1   5 local.               _hap._tcp.           13
14:56:31.113  Rmv        1   5 local.               _hap._tcp.           14
14:56:31.113  Rmv        1   5 local.               _hap._tcp.           15
14:56:31.113  Rmv        1   5 local.               _hap._tcp.           16
14:56:31.113  Rmv        1   5 local.               _hap._tcp.           17
14:56:31.113  Rmv        1   5 local.               _hap._tcp.           18
14:56:31.113  Rmv        1   5 local.               _hap._tcp.           19
14:56:31.113  Rmv        1   5 local.               _hap._tcp.           20
14:56:31.113  Rmv        1   5 local.               _hap._tcp.           21
14:56:31.113  Rmv        1   5 local.               _hap._tcp.           22
14:56:31.113  Rmv        1   5 local.               _hap._tcp.           23
14:56:31.113  Rmv        1   5 local.               _hap._tcp.           24
14:56:31.113  Rmv        1   5 local.               _hap._tcp.           25
14:56:31.113  Rmv        1   5 local.               _hap._tcp.           25
14:56:31.113  Rmv        1   5 local.               _hap._tcp.           26
14:56:31.113  Rmv        1   5 local.               _hap._tcp.           27
14:56:31.113  Rmv        1   5 local.               _hap._tcp.           28
14:56:31.113  Rmv        1   5 local.               _hap._tcp.           29
14:56:31.113  Rmv        1   5 local.               _hap._tcp.           30
14:56:31.113  Rmv        1   5 local.               _hap._tcp.           4
14:56:31.113  Rmv        1   5 local.               _hap._tcp.           5
14:56:31.113  Rmv        1   5 local.               _hap._tcp.           6
14:56:31.113  Rmv        1   5 local.               _hap._tcp.           8
14:56:31.113  Rmv        1   5 local.               _hap._tcp.           Air Conditioner E78C
14:56:31.113  Rmv        1   5 local.               _hap._tcp.           9
14:56:31.113  Rmv        1   5 local.               _hap._tcp.           Remote 871C
14:56:31.113  Rmv        1   5 local.               _hap._tcp.           IPCamera B1CE
14:56:31.113  Rmv        1   5 local.               _hap._tcp.           Fan E78C
14:56:31.113  Rmv        1   5 local.               _hap._tcp.           Garage Door E0CE
14:56:31.113  Rmv        1   5 local.               _hap._tcp.           Simple Light 83BF
14:56:31.113  Rmv        1   5 local.               _hap._tcp.           Lock 0C82
14:56:31.113  Rmv        1   5 local.               _hap._tcp.           Motion Sensor 2CCC
14:56:31.113  Rmv        1   5 local.               _hap._tcp.           Outlet FFC3
14:56:31.113  Rmv        1   5 local.               _hap._tcp.           SmartSpeaker 522C
14:56:31.113  Rmv        1   5 local.               _hap._tcp.           💦 Sprinkler C551
14:56:31.113  Rmv        1   5 local.               _hap._tcp.           TV 8BF9
14:56:31.113  Rmv        1   5 local.               _hap._tcp.           Temperature Sensor 1B6A
14:56:31.113  Rmv        1   5 local.               _hap._tcp.           Thermostat 1 19DA
14:56:31.113  Rmv        1   5 local.               _hap._tcp.           Wi-Fi Router 0F41
14:56:31.113  Rmv        1   5 local.               _hap._tcp.           Wi-Fi Satellite 635D
14:56:31.113  Rmv        0   5 local.               _hap._tcp.           31
```

Running HAP-NodeJS with `DEBUG=ciao:*` doesn't really yield anything interesting, but here are the debug messages shown last before the de-registration happens:

```
  ciao:Responder Sending response via unicast to {"address":"192.168.0.77","port":5353,"interface":"eth0"} (took 76 ms): [PTR,PTR,PTR,PTR,PTR] answers and [SRV,TXT,A,AAAA,SRV,TXT,A,AAAA,SRV,TXT,A,AAAA,SRV,TXT,A,AAAA,SRV,TXT,A,AAAA] additionals (UPS: 1440) +16s
  ciao:Responder Sending response via unicast to {"address":"192.168.0.77","port":5353,"interface":"eth0"} (took 77 ms): [PTR,PTR,PTR,PTR,PTR] answers and [SRV,TXT,A,AAAA,SRV,TXT,A,AAAA,SRV,TXT,A,AAAA,SRV,TXT,A,AAAA,SRV,TXT,A,AAAA] additionals (UPS: 1440) +1ms
  ciao:Responder Sending response via unicast to {"address":"192.168.0.77","port":5353,"interface":"eth0"} (took 78 ms): [PTR,PTR,PTR,PTR,PTR] answers and [SRV,TXT,A,AAAA,SRV,TXT,A,AAAA,SRV,TXT,A,AAAA,SRV,TXT,A,AAAA,SRV,TXT,A,AAAA] additionals (UPS: 1440) +1ms
  ciao:Responder Sending response via unicast to {"address":"192.168.0.77","port":5353,"interface":"eth0"} (took 79 ms): [PTR,PTR,PTR,PTR,PTR] answers and [SRV,TXT,A,AAAA,SRV,TXT,A,AAAA,SRV,TXT,A,AAAA,SRV,TXT,A,AAAA,SRV,TXT,A,AAAA] additionals (UPS: 1440) +1ms
  ciao:Responder Sending response via unicast to {"address":"192.168.0.77","port":5353,"interface":"eth0"} (took 80 ms): [PTR,PTR,PTR,PTR,PTR] answers and [SRV,TXT,A,AAAA,SRV,TXT,A,AAAA,SRV,TXT,A,AAAA,SRV,TXT,A,AAAA,SRV,TXT,A,AAAA] additionals (UPS: 1440) +1ms
  ciao:Responder Sending response via unicast to {"address":"192.168.0.77","port":5353,"interface":"eth0"} (took 81 ms): [PTR,PTR,PTR,PTR,PTR,PTR] answers and [SRV,TXT,A,AAAA,SRV,TXT,A,AAAA,SRV,TXT,A,AAAA,SRV,TXT,A,AAAA,SRV,TXT,A,AAAA,SRV,TXT,A,AAAA] additionals (UPS: 1440) +1ms
  ciao:Responder Sending response via unicast to {"address":"192.168.0.77","port":5353,"interface":"eth0"} (took 82 ms): [PTR,PTR,PTR,PTR,PTR,PTR,PTR] answers and [SRV,TXT,A,AAAA,SRV,TXT,A,AAAA,SRV,TXT,A,AAAA,SRV,TXT,A,AAAA,SRV,TXT,A,AAAA,SRV,TXT,A,AAAA,SRV,TXT,A,AAAA] additionals (UPS: 1440) +1ms
  ciao:Responder Sending response via unicast to {"address":"192.168.0.77","port":5353,"interface":"eth0"} (took 83 ms): [PTR,PTR,PTR,PTR,PTR,PTR] answers and [SRV,TXT,A,AAAA,SRV,TXT,A,AAAA,SRV,TXT,A,AAAA,SRV,TXT,A,AAAA,SRV,TXT,A,AAAA,SRV,TXT,A,AAAA] additionals (UPS: 1440) +1ms
  ciao:Responder Sending response via unicast to {"address":"192.168.0.77","port":5353,"interface":"eth0"} (took 84 ms): [PTR,PTR] answers and [SRV,TXT,A,AAAA,SRV,TXT,A,AAAA] additionals (UPS: 1440) +1ms
  ciao:Responder Received truncated query from {"address":"192.168.0.77","port":5353,"interface":"eth0"} waiting for more to come! +933ms
  ciao:Responder [192.168.0.77:5353:eth0] Last part of the truncated query arrived. Received 2 packets taking a total of 4 ms +5ms
  ciao:Responder Received truncated query from {"address":"192.168.0.77","port":5353,"interface":"eth0"} waiting for more to come! +3s
  ciao:Responder [192.168.0.77:5353:eth0] Last part of the truncated query arrived. Received 2 packets taking a total of 5 ms +5ms
```

Initially, each device seems to be registered correctly:

```
ciao:CiaoService [xxxx] Rebuilding service records... +780ms
ciao:Announcer [xxxx._hap._tcp.local.] Sending announcement number 1 +2ms
ciao:Announcer xxxx._hap._tcp.local.] Sending announcement number 2 +290ms
ciao:Announcer [xxxx._hap._tcp.local.] Sending announcement number 3 +70ms
``` 

For reference, here's the output of `dns-sd` when launching the older version with `hap-bonjour`. Note the faster intitial registration (e.g. all accessories appear to Bonjour at nearly the same time), and also note that the reported `Flags` field seems to be different (3 instead of 2). No de-registrations happen until the node process exits.

```
$ dns-sd -B _hap._tcp.
Browsing for _hap._tcp.
DATE: ---Sat 14 Nov 2020---
14:57:21.320  ...STARTING...
Timestamp     A/R    Flags  if Domain               Service Type         Instance Name
14:57:25.777  Add        3   5 local.               _hap._tcp.           16
14:57:25.777  Add        3   5 local.               _hap._tcp.           14
14:57:25.777  Add        3   5 local.               _hap._tcp.           22
14:57:25.777  Add        3   5 local.               _hap._tcp.           17
14:57:25.777  Add        3   5 local.               _hap._tcp.           15
14:57:25.777  Add        3   5 local.               _hap._tcp.           19
14:57:25.777  Add        3   5 local.               _hap._tcp.           Wi-Fi Satellite 635D
14:57:25.777  Add        3   5 local.               _hap._tcp.           Lock 0C82
14:57:25.777  Add        3   5 local.               _hap._tcp.           24
14:57:25.777  Add        3   5 local.               _hap._tcp.           Outlet FFC3
14:57:25.777  Add        3   5 local.               _hap._tcp.           11
14:57:25.777  Add        3   5 local.               _hap._tcp.           Air Conditioner E78C
14:57:25.777  Add        3   5 local.               _hap._tcp.           4
14:57:25.777  Add        3   5 local.               _hap._tcp.           Temperature Sensor 1B6A
14:57:25.777  Add        3   5 local.               _hap._tcp.           29
14:57:25.777  Add        3   5 local.               _hap._tcp.           10
14:57:25.778  Add        3   5 local.               _hap._tcp.           💦 Sprinkler C551
14:57:25.778  Add        3   5 local.               _hap._tcp.           Wi-Fi Router 0F41
14:57:25.778  Add        3   5 local.               _hap._tcp.           21
14:57:25.778  Add        3   5 local.               _hap._tcp.           Garage Door E0CE
14:57:25.778  Add        3   5 local.               _hap._tcp.           25
14:57:25.778  Add        3   5 local.               _hap._tcp.           13
14:57:25.778  Add        3   5 local.               _hap._tcp.           0
14:57:25.778  Add        3   5 local.               _hap._tcp.           30
14:57:25.778  Add        3   5 local.               _hap._tcp.           12
14:57:25.778  Add        3   5 local.               _hap._tcp.           20
14:57:25.778  Add        3   5 local.               _hap._tcp.           13
14:57:25.778  Add        3   5 local.               _hap._tcp.           27
14:57:25.778  Add        3   5 local.               _hap._tcp.           IPCamera B1CE
14:57:25.778  Add        3   5 local.               _hap._tcp.           23
14:57:25.778  Add        3   5 local.               _hap._tcp.           9
14:57:25.778  Add        3   5 local.               _hap._tcp.           Simple Light 83BF
14:57:25.778  Add        3   5 local.               _hap._tcp.           5
14:57:25.778  Add        3   5 local.               _hap._tcp.           Remote 871C
14:57:25.778  Add        3   5 local.               _hap._tcp.           Thermostat 1 19DA
14:57:25.778  Add        3   5 local.               _hap._tcp.           26
14:57:25.778  Add        3   5 local.               _hap._tcp.           SmartSpeaker 522C
14:57:25.778  Add        3   5 local.               _hap._tcp.           8
14:57:25.778  Add        3   5 local.               _hap._tcp.           18
14:57:25.778  Add        3   5 local.               _hap._tcp.           28
14:57:25.778  Add        3   5 local.               _hap._tcp.           25
14:57:25.778  Add        3   5 local.               _hap._tcp.           TV 8BF9
14:57:25.778  Add        3   5 local.               _hap._tcp.           6
14:57:25.778  Add        3   5 local.               _hap._tcp.           Motion Sensor 2CCC
14:57:25.778  Add        2   5 local.               _hap._tcp.           Fan E78C
14:57:26.086  Add        2   5 local.               _hap._tcp.           31
```

**Environment:**

* **Node.js Version**: v14.15.0
* **NPM Version**: 6.14.8
* **Operating System**: Raspbian
* **Process Supervisor**: Systemd


Thanks for sharing that much detail already.
Could you provide a quick overview of your network setup? Any special setup? Additionally an overview of used network equipment can be useful (like Router branding etc).
What is the network configuration of your Pi4 like? Connected via Ethernet (I assume from the logs)? Any other network interfaces or network related configuration on the Pi4?

Does the amount of accessories which are advertised matter to how fast the advertisements disappear? 

I'll try to investigate the issue as best as I can, but such problems are always hard to debug and analyze. For me ciao was running better than ever the last 2-3 months.

> With ciao, I see about one accessory per second registered upon launch (much slower than with hap-bonjour) [...]

To give some background on this. Before one can register a new (bonjour) service, you must check that the name you are trying to use isn't already used on the network. This step is called Probing. One limitation of ciao still is that it will only Probe for one service at a time, that's were the ~750 ms delay for every service advertisement is coming from. bonjour-hap didn't really (or only a half backed version of it) implement probing properly. I'm still planning to overcome this bottleneck in a future version of ciao.

> [...] and also note that the reported Flags field seems to be different (3 instead of 2)

For [refernece](https://apple.stackexchange.com/questions/115674/how-do-i-read-the-output-of-dns-sd). 2 encodes an accessory was added, while 3 encodes the same with the additional information, that more is still coming (as they all got registered at roughly the same time).

<br>
<br>

Looking at the logs, is `192.168.0.77` the macOS machine with `dns-sd` running on it?


> Addendum: I just tried the beta branch too, since I saw it was quite ahead, but it exhibits the same problem for me.

Lastly, you said you tried the beta. Was it the just released beta from yesterday (like I think that must be beta 69 or something)?


To add on: You said the services disappear after about 1-2 minutes. To they ever reappear? Or are they "lost" forever?
Can you access the accessories in the Home App in the time frame where the advertising is available?

Thanks for the quick reply!

> Could you provide a quick overview of your network setup? Any special setup? Additionally an overview of used network equipment can be useful (like Router branding etc).

My setup is a bit involved, but I don't think there's anything special. I'm using an "AVM FritzBox 7390" to connect to a DSL line (it's supplied by my ISP, but I can admin it, though not replace it, because it's tied to the DSL subscription by its MAC address). This box provides DHCP and DNS services as well.

It's connected via ethernet to a Netgear switch, which branches out to an Apple TimeCapsule, which also acts as my WiFi access point). Ethernet also connects to a network of 3 "Devolo Powerline" adapters (those piggy-back wired connections through the apartment's power wiring), and those connect to two other Apple routers (latest Airport Express, and a "square" Airport Extreme), which act as WiFi access points, too – it's a rather large apartment, so I need those to provide good WiFi coverage everywhere.

Everything spans a single network in the 192.168.0.x address space, so there's no weird bridging or anything going on.

I also use Bonjour extensively (there are multiple servers and IoT devices, based on the Arduino ESP8266 core, which includes a Bonjour library as well) – All devices can see each other over Bonjour, so MDNS works fine in general.

> What is the network configuration of your Pi4 like? Connected via Ethernet (I assume from the logs)? Any other network interfaces or network related configuration on the Pi4?

The Pi4 is only connected via ethernet (to the Netgear switch, which plugs into the AVM box). The WiFi functionality is completely disabled via a devicetree-overlay, so it's not even powered (which makes the Pi run a tiny bit cooler).

The mdnsResponder on the Pi4 also registers some services (like ssh), and that works fine as well.

> Does the amount of accessories which are advertised matter to how fast the advertisements disappear?

It doesn't appear so, though the timing is only a rough estimate. It's always about 1-2min until they disappear, either all of them at once or "in batches" (like in the log I posted above, where device "0" disappeared a bit earlier than the rest).

> I'll try to investigate the issue as best as I can, but such problems are always hard to debug and analyze. For me ciao was running better than ever the last 2-3 months.

Yes, I understand that perfectly, it's difficult to debug! Thank you for looking into it, and let me know if I can help. I'll try to get Wireshark up tomorrow and check if I can see anything suspicious there.

> To give some background on this. Before one can register a new (bonjour) service, you must check that the name you are trying to use isn't already used on the network. This step is called Probing. One limitation of ciao still is that it will only Probe for one service at a time, that's were the ~750 ms delay for every service advertisement is coming from. bonjour-hap didn't really (or only a half backed version of it) implement probing properly. I'm still planning to overcome this bottleneck in a future version of ciao.

Ah, thanks for the explanation! Yes, that makes sense – It's not really much of a problem though, it only stood out to me when looking at dns-sd.

> Looking at the logs, is `192.168.0.77` the macOS machine with `dns-sd` running on it?

No, 192.168.0.77 is actually the address of the HomePod that acts as the "Homekit Hub" (so that Homekit is also accessible over the internet). I don't think it's directly related though, since if I try running HAP-NodeJS multiple times, there are no specific log messages from `ciao` that consistently appear when or shortly before the de-registrations happen.

There's a similar log output for macOS too, so both seem to be querying MDNS at some point.

> > Addendum: I just tried the beta branch too, since I saw it was quite ahead, but it exhibits the same problem for me.
> 
> Lastly, you said you tried the beta. Was it the just released beta from yesterday (like I think that must be beta 69 or something)?

I checked out the current `beta` branch from the repository directly, e.g. at c991045

> To add on: You said the services disappear after about 1-2 minutes. To they ever reappear? Or are they "lost" forever?

It didn't appear so,  but I only let it run for a few extra minutes. What's the re-advertising interval? I can let it run for longer and see if they reappear then.

> Can you access the accessories in the Home App in the time frame where the advertising is available?

Yes, while the registrations are still up, everything works as expected, so devices can be accessed, turned on/off, etc... Only when the de-registrations happen, the iOS/macOS "Home" app switches all device tiles to the "Updating..." mode, and then to "No Response" shortly after. 


I think I've figured out the issue now: It appears as if the problem is actually running (and quitting) a pre-ciao version before starting a ciao-version. Apparently, the `hap-bonjour` version doesn't clean up the registrations properly when it quits, and that seems to mess with the registrations created by ciao.

I've noticed that when looking at Wireshark, since the homekit hub kept querying the servicename without the 4-letter identifier appended (as 0.8.2 now does it), even though that name already showed up as removed in `dns-sd` on the Mac.

So what seems to have fixed it (it's been working reliably now for about an hour) was quitting the `hap-bonjour` version, then rebooting the homekit hub and clearing the dns cache on the Mac, and then waiting for 15min or so, and starting the `ciao` version.

I suppose with the many Apple devices/router on my network, all of them running an mdnsResponder, the stale announcements left over from `hap-bonjour` might be causing some havoc, due to conflicting names or so.

I'll keep an eye on it, but for now, `dns-sd` hasn't shown any removals anymore while HAP-NodeJS is running.

Possibly unrelated, but I also noticed the following warning (with the trace added by `--trace-warnings`):

```
(node:10128) MaxListenersExceededWarning: Possible EventEmitter memory leak detected. 11 network-update listeners added to [NetworkManager]. Use emitter.setMaxListeners() to increase limit
    at _addListener (events.js:390:17)
    at NetworkManager.addListener (events.js:406:10)
    at new CiaoService (/home/gck/projects/HAP-NodeJS/node_modules/@homebridge/ciao/lib/CiaoService.js:147:29)
    at Responder.createService (/home/gck/projects/HAP-NodeJS/node_modules/@homebridge/ciao/lib/Responder.js:78:25)
    at Advertiser.initAdvertiser (/home/gck/projects/HAP-NodeJS/dist/lib/Advertiser.js:102:49)
    at Accessory._this._onListening (/home/gck/projects/HAP-NodeJS/dist/lib/Accessory.js:637:31)
    at HAPServer.emit (events.js:315:20)
    at HAPServer.EventEmitter.emit (/home/gck/projects/HAP-NodeJS/dist/lib/EventEmitter.js:60:38)
    at EventedHTTPServer.HAPServer._this._onListening (/home/gck/projects/HAP-NodeJS/dist/lib/HAPServer.js:223:19)
    at EventedHTTPServer.emit (events.js:315:20)
```

There are a lot of HomeKit devices in my setup, so that's probably the reason why that happens, if a separate listener is added for each device, and it *shouldn't* be a problem, since the limit is not a hard one.

I've silenced it with ```require('events').EventEmitter.defaultMaxListeners = 100``` for now, and it might make sense to up the listener amount limit for this emitter in general, especially if the amount of listeners is directly related to the amount of accessories that people register.

Thanks again for all your help!

> I suppose with the many Apple devices/router on my network, all of them running an mdnsResponder, the stale announcements left over from hap-bonjour might be causing some havoc, due to conflicting names or so.

That could actually be it 🤔 The behavior to not include those last 4 digits was only changed recently as part of https://github.com/homebridge/HAP-NodeJS/issues/852. We may have to revert that if it prevents updates from 0.7.x.

I just pushed an update to the beta branch where now the last 4 digits are included again, meaning ciao will just override the "old" records from bonjour-hap. Would be great if you could quickly verify if that fixes the issue for you of upgrading from pre-ciao versions.

I'm looking into the EventEmitter warning, but seems like it is just caused by the amount of services advertised.

> I just pushed an update to the beta branch where now the last 4 digits are included again, meaning ciao will just override the "old" records from bonjour-hap. Would be great if you could quickly verify if that fixes the issue for you of upgrading from pre-ciao versions.

Yes, adding the IDs seems to fix it – I can now run the old version directly before the ciao-version, and even with old registrations lingering around, `dns-sd` doesn't show any weirdness going on anymore, and the "Home" iOS app works straight away, as soon as the ciao-Bonjour registrations are up (it takes about half a minute for me, due to the many accessories I have registered).

I suppose it was only a problem initially when I update,  I just pull changes and rebuild with `npx tsc`, then kill the previous version with SIGINT and start the new one straight away. Since it didn't work initially for me,  I kept going back and forth between old and new version, exacerbating the problem with the lingering registrations, and then I fired up `dns-sd` and saw this weird behavior.

Regarding probing, it might be a option to have setting to disable probing and just send out registrations unchecked, if desired: I have a bit of [experience](https://github.com/gkaindl/Community-mdnsResponder) with Bonjour too, and one thing I noticed is that Apple routers tend to be extremely aggressive in responding to MDNS queries if they have the answer, especially if the request would have to bridge interfaces (like from wired to wireless LAN). This can be quite problematic if a Bonjour-enabled client locks up hard (app crashes, kernel panic on a Mac,  etc...) and doesn't unannounce, because the registrations tend to linger in the router's cache for quite a bit.

However, that's just an idea, and with Apple routers no longer being produced, it's probably not worth it.

> I'm looking into the EventEmitter warning, but seems like it is just caused by the amount of services advertised.

Yes, thanks. It shouldn't be a problem though, since it's just a warning, and listeners are still attached properly. However, it might make sense to set the limit to the amount of accessories + 10 or so, just in order to silence the warning.

> Yes, adding the IDs seems to fix it 

Great to here 👍 

> it takes about half a minute for me, due to the many accessories I have registered

Yes that sone problem we will still have to tackle. But currently no specific time frame when this will happen.

> [...] one thing I noticed is that Apple routers tend to be extremely aggressive in responding to MDNS queries if they have the answer, especially if the request would have to bridge interfaces  [...]

Could you maybe share some details what you are referring to exactly? I would have thought that Apple routers wouldn't respond at all to mdns queriers given that they are not advertising any services for which we are querying for(?). Especially they would not be giving answers directly from their mdns cache?

And if you got any other experiences with mDNSResponder (or mDNSResponders weirdnesses) which could be relevant feel free to share ☺️ I got a got overview of the rfc, but haven't yet looked into the mDNSResponder sources in detail.

> > Yes, adding the IDs seems to fix it
> 
> Great to here 👍

Most ironically, after having worked fine for the entire week now, when I came home today and opened the iOS Home app, I could unlock the door with it, but then all devices turned to the "No Response" state all of a sudden. It's been persistent again since, but fortunately, I managed to record it with Wireshark now – Attached is a capture file that you can look at with Wireshark, and dns-sd output again. I started both at roughly the same time, and then restarted HAP-NodeJS via Core.js – After the successful announcements, all registrations disappeared after about 20 seconds.

[Archive.zip](https://github.com/homebridge/HAP-NodeJS/files/5576037/Archive.zip)

It's been persisting for now, e.g. it usually lasts between seconds and a few minutes for the registrations to disappear after a restart of HAP-NodeJS.

I'll look at the Wireshark capture in detail soon too, when I get around to it, but I wanted to post it quickly, since it could be useful. I'm suspecting now that there is some interaction with another device maybe, like maybe the Homekit hub, that's causing this, but that's just a hunch.

> > it takes about half a minute for me, due to the many accessories I have registered
> 
> Yes that sone problem we will still have to tackle. But currently no specific time frame when this will happen.

No worries, I don't even see it as a problem, actually, and would think it's perfectly okay to keep it as is.

> Could you maybe share some details what you are referring to exactly? I would have thought that Apple routers wouldn't respond at all to mdns queriers given that they are not advertising any services for which we are querying for(?). Especially they would not be giving answers directly from their mdns cache?

I'm referring to the  [Sleep Proxy Service](https://en.wikipedia.org/wiki/Bonjour_Sleep_Proxy) – Basically, what it does is proxying announcements for devices that go to sleep, so the services are still reachable by having the sleep proxy wake the destination. It's not entirely clear to me what the conditions are when a device should act as a sleep proxy (see [here](https://github.com/gkaindl/Community-mdnsResponder/blob/964511cb11a7bc0dd1f02fa0cdcf231830243dbf/mdns-patched/mDNSMacOSX/mDNSMacOSX.c#L6156), as an example), and how/when the mdnsResponder decides to proxy announcements, but I've seen it frequently that the sleep proxy on the Time Capsule responds to queries handled by entirely different implementations that are not sleep-proxy aware at all, like mdns implementations on Arduino, as an example.

The sleep proxy is still "a thing", even with Apple routers discontinued, because the mdnsResponder on AppleTV and HomePod (not sure if HomePod mini offers one, too) act as a sleep proxy, too.

> And if you got any other experiences with mDNSResponder (or mDNSResponders weirdnesses) which could be relevant feel free to share ☺️ I got a got overview of the rfc, but haven't yet looked into the mDNSResponder sources in detail.

I built an mdns library for Arduino many years ago, but with Apple's mdnsResponder, I was mostly interested in getting the wide-area Bonjour capabilities (and dnsextd) to work for the POSIX target (Apple used to have unimplemented stubs all over the place for the POSIX target, of which I implemented the necessary ones to allow for wide-area registrations). So I didn't look much into the implementation details of the link-local multicast service.

However, what I could definitely imagine is that with the "Homekit Hub" functionality of AppleTV, HomePod, and iPads, there could be some proxying going on that might play a role here, but the good thing is that I managed to get a packet capture this time, and I'm sure the answer is in there somewhere.

I had a quick look at the capture file. Thanks for providing both, the dns-sd output and the Wireshark capture. Makes stuff way easier.
What was the capture filter if I may ask? Only port 5353? Or did you configure anything else?

I saw packet `#345` which asks for `_hap._tcp.local` and having the "QU" flag set. Meaning please respond to me via unicast and not multicast. The known-answer section doesn't contain any relevant entries so one should expect ciao to answer those questions.
The thing is, no answer is ever received from the hap-nodejs instance (while you can see e.g. packet `#347` responding via unicast to that query, thought answering a different question).
So either a) hap-nodejs doesn't ever receive the packet ('normal' packet loss isn't the case here I think as those queries are transmitted multiple times) or b) the unicast response thing is broken (like ciao receives the question, prepares the answers, sees that it must answer via unicast and sends out the unicast response thinking all will be fine, but something actually went wrong).

What version of raspbian and what version of node are you running (like `uname -a` and `node -v` output)?
As you checked out the beta branch I assume ciao debug output  (`DEBUG=ciao:*`) is enabled for you by default? Should it be the case that you still have the logs of the time the capture was created, can you verify that a debug message like the following is printed: `Sending response via unicast to {...} (took x ms): ...`.
The thing I don't get why it works sometimes 🤔 

Would be great If you could have a look at the ciao logs (maybe there is some other error logged maybe?). Otherwise I could prepare a build of ciao which just ignored the QU flag (unicast response flag) and always responds via multicast. Then we can test if that really is the issue.
The thing is bonjour-hap never implemented unicast response, thus it could very well be that what is causing issue or isn't working correct in some way.

---

SleepProxies only proxy devices which actively request to be proxied. [Here](https://github.com/awein/SleepProxyClient) is a basic but straightforward implementation of such a sleep proxy request. A Apple device like HomePod/Apple TV will always act a as sleep proxy (as they pretty much run all the time), and judging by the comment you linked to, Macs which are connected to power can also act as a sleep proxy if they choose to (or maybe nothing else is available).

>seen it frequently that the sleep proxy on the Time Capsule responds to queries handled by entirely different implementations that are not sleep-proxy aware at all

Thats weird. Sure that this is the sleep proxy responding? mDNS also allows for "regular" proxies, like multiple hosts delivering the same answer to a certain question. Even the dns-sd utility supports that. As long as it is advertising the **same** data this isn't a problem (for a responder which adhere to the rfc, e.g. [9. Conflict Resolution](https://tools.ietf.org/html/rfc6762#section-9))
`dns-sd -P <Name> <Type> <Domain> <Port> <Host> <IP> [<TXT>...] (Register Proxy)`

> not sure if HomePod mini offers one, too

HomePod mini offers one as well, yes.

>I built an mdns library for Arduino many years ago

got a link to that?

> However, what I could definitely imagine is that with the "Homekit Hub" functionality of AppleTV, HomePod, and iPads, there could be some proxying going on that might play a role here

As we can see in the packet capture that there is never send a response packet, I think its save to assume that there isn't any proxying going on (otherwise those proxies would have generated a response).

Okay maybe I was a bit too fast with my assumption. Just saw packet `#348` which also queries for `_hap._tcp.local.` **but** as not set the unicast response flag. Meaning ciao would respond via multicast. But again there is no answer sent.

So either it doesn't receive **any** packets or sending **any** packets doesn't work 🤔 Or something else is entirely broken in the code which generates the answers for a query.

I've created a new capture now, running the latest "beta" commit eee5803 with only the default/demo accessories, and I've also included the log output from HAP-NodeJS, as well as a list of what devices some of the notable IP addresses in the capture actually are.

[hap.zip](https://github.com/homebridge/HAP-NodeJS/files/5577832/hap.zip)

What looks odd is that the HAP-NodeJS log says it was responding to 192.168.0.77 via unicast, but no such unicast traffic shows up in the packet capture (HAP-NodeJS is running on the RPI4 at 192.168.0.203).

I think we're on the right track here, though – I tried it once more, and it appears that when the unicast sending log shows up on the HAP-NodeJS console output, that's about when the registrations seem to disappear in dns-sd.

What is also find odd in retrospect is how it has been working for a few days in between, and suddenly stopped working again – I didn't change anything about the network in the meantime, nor add any new devices to it, update any software (except my iPhone from 14.2 to 14.2.1, but that seems unrelated).

> What version of raspbian and what version of node are you running (like uname -a and node -v output)?

```
$ uname -a
Linux shimura 4.19.97-v7l+ #1294 SMP Thu Jan 30 13:21:14 GMT 2020 armv7l GNU/Linux
$ node -v
v14.15.0
$ npm -v
6.14.8
```

node is installed via nvm (I usually use only the latest LTS releases on the RPI4).
 
> Thats weird. Sure that this is the sleep proxy responding? mDNS also allows for "regular" proxies, like multiple hosts delivering the same answer to a certain question.

Ah, thanks for the heads-up, I wasn't aware that the sleep proxying was a service that a client specifically needs to request. 

Maybe I got it confused with something else, since I'm pretty sure I was battling with lingering announcements due to another device responding for a dead one during the TTL of the original announcement, but maybe there was another faulty client on the network at the time. Unfortunately, I do not remember the exact details anymore :-(

> got a link to that?

Yes! It's pretty much obsolete now, but [here it is](http://gkaindl.com/software/arduino-ethernet/bonjour), on an old website of mine :-D At that time, Arduino networking libraries were incredibly basic and huge in code size (and there was no bonjour implementation at all) – My goal was to get basic MDNS capabilities onto the Arduino Ethernet, which used an ATMEGA168 at the time, giving you only 16kb of total code size, about 4kb already taken by the Arduino core libraries, and if you'd add some code to read out some sensors, space gets tight quickly.

These days, I think the ESP8266 arduino core project has the most reliable and feature-complete Bonjour library.

> As we can see in the packet capture that there is never send a response packet, I think its save to assume that there isn't any proxying going on (otherwise those proxies would have generated a response).

Agreed, that is definitely not the problem.

> 

Haven't yet had any time to look at the new capture you provided. But thanks already for providing one again including the ciao debug log.

In the mean time, in order to verify our hypothesis, could you try out the [experimental](https://github.com/homebridge/HAP-NodeJS/tree/experimental) branch (checking out, npm install, ...)? I pushed a modified version of ciao which ignores if a querier request responses to be sent via unicast and just sends the response via multicast. This will most definitely increase the amount of multicast traffic (still less than bonjour-hap produces though) but ensures the querier gets its answer (again if our hypothesis is correct).

Thanks for the experimental version! I tried it, and the registrations remained visible in `dns-sd -B` for at least a few minutes, so it all looked good, but weirdly enough, in the HomeKit iOS app, all devices appeared with "No Response" again... 

However, that got me to investigate even deeper into the registrations, and I noticed something by listing the actual registration of an accessory:

Here's a listing of the "SmartSpeaker" demo accessory, when running the pre-ciao version:

```
$ dns-sd -L "SmartSpeaker 522C" _hap._tcp.
Lookup SmartSpeaker 522C._hap._tcp..local
DATE: ---Tue 24 Nov 2020---
14:21:33.454  ...STARTING...
14:21:33.455  SmartSpeaker\032522C._hap._tcp.local. can be reached at 89_A8_E4_1E_95_EE.local.:51864 (interface 5)
 md=SmartSpeaker pv=1.1 id=89:A8:E4:1E:95:EE c#=2 s#=1 ff=0 ci=26 sf=1 sh=iHBZxg==

$ dns-sd -Gv4v6 89_A8_E4_1E_95_EE.local
DATE: ---Tue 24 Nov 2020---
14:21:47.444  ...STARTING...
Timestamp     A/R    Flags if Hostname                               Address                                      TTL
14:21:47.445  Add 40000002  5 89_A8_E4_1E_95_EE.local.               192.168.0.203                                120
```

Now that got me thinking, because – as is obvious in hindsight, but unexpected when you're used to the "MDNS runs as daemon on the host, and clients use the daemon for registrations" – HAP-NodeJS runs its entirely own encapsulated MDNS responder, it registers `89_A8_E4_1E_95_EE.local` as MDNS hostname for its own implementation, rather than what the MDNS responder running on the RPI4 uses.

Now note the difference when running the ciao version:

```
$ dns-sd -L "SmartSpeaker 522C" _hap._tcp.
Lookup SmartSpeaker 522C._hap._tcp..local
DATE: ---Tue 24 Nov 2020---
14:24:18.814  ...STARTING...
14:24:18.823  SmartSpeaker\032522C._hap._tcp.local. can be reached at SmartSpeaker-522C.local.:51868 (interface 5)
 c#=2 ff=0 id=89:A8:E4:1E:95:EE md=Default-Model pv=1.1 s#=1 sf=1 ci=26 sh=3/nHdw==

$ dns-sd -Gv4v6 SmartSpeaker-522C.local
DATE: ---Tue 24 Nov 2020---
14:24:35.106  ...STARTING...
Timestamp     A/R    Flags if Hostname                               Address                                      TTL
14:24:35.107  Add 40000003  5 SmartSpeaker-522C.local.               FE80:0000:0000:0000:1D2C:0865:AD69:7A44%en0  120
14:24:35.107  Add 40000003  5 SmartSpeaker-522C.local.               FD98:3DC0:DFA2:0001:B68B:6F7D:FC03:7B5C%<0>  120
14:24:35.107  Add 40000002  5 SmartSpeaker-522C.local.               192.168.0.203                                120
```

With ciao, it changes the MDNS hostname (which maybe explains why the order of devices in the iOS/macOS Homekit app get strangely rearranged when I switch between the  old and new HAP-NodeJS versions, but that's not so important), but it also registers at an IPv6 address, which `hap-bonjour` didn't.

As it turns out, I can't reach this IPv6 from anywhere in my network (which is its own problem, and weird, since macOS/iOS devices are reachable fine via IPv6, but none of my RPIs is).

I've now disabled ipv6 on the RPI4 by blacklisting the ipv6 module, and now it *appears* that all three of `master`, `beta`, and `experimental` are working fine, or at least everything has been working for an hour or so, which is longer than it ever has in a while – I'll keep an eye on it, though.

The Apple MDNS responder running on the RPI4 seems to be aware that IPv6 isn't properly working, since it doesn't seem to advertise the IPv6 address when querying the hostname that Apple MDNS provides (`shimura.local` is the same RPI that `SmartSpeaker-522C.local` also resolves to, only that `shimura.local` is what Apple MDNS advertises).

```
$ dns-sd -Gv4v6 shimura.local
DATE: ---Tue 24 Nov 2020---
14:54:30.196  ...STARTING...
Timestamp     A/R    Flags if Hostname                               Address                                      TTL
14:54:30.412  Add        3  5 shimura.local.                         192.168.0.203                                120
14:54:30.412  Add        2  5 shimura.local.                         0000:0000:0000:0000:0000:0000:0000:0000%<0>  1   No Such Record
```

So that could very well have been the core of the/my problem, i.e. `hap-bonjour` not using IPv6 at all, whereas `ciao` does, and some issue with Raspbian or my ISP-provided router, where IPv6 somehow doesn't work with the RPI, at least on my otherwise IPv6-aware network.

So – provided it isn't just a temporary success, and that's really it – there are a few mysteries remaining:

1. If it all boils down to the RPI4 not being reachable via the IPv6 address that ciao advertises (and that seems to have been handed out by my DHCP server), I wonder why the "Rmv" messages would show up on dns-sd running on my Mac. Does mdnsResponder somehow "locally" kill the registrations when it fails to connect?

2. Does HAP-NodeJS actually listen on IPv6? If so, I wonder what the problem with the RPI4 is then, since it's just running vanilla Raspbian without any special setup regarding the networking.

3. Would it make sense to provide an IPv4-only switch/command line flag, or use IPv4-only by default if an IPv4 address is configured on the host, and hide IPv6 behind a switch instead? Apart from the RPI4, which might be the IPv6 culprit, I would also suspect the router provided by my ISP to maybe not work well with IPv6 (it's a rather cheap model, but by the ISP's ToS, I'm not allowed to replace it, and it can't be used as a simple bridge, unfortunately), so something like that might affect other users too, especially since the pre-ciao version would eschew the issue by simply not advertising IPv6.

> so it all looked good, but weirdly enough, in the HomeKit iOS app, all devices appeared with "No Response" again...

So the advertisements didn't disappear in `dns-sd` but the Home App did still show "No Response".

> With ciao, it changes the MDNS hostname

Yeah it now uses a hostname which is easier to remember. Also thought if we could have the same problem as we had with the service name change, which was our first problem. But as the associated hostname is part of the SRV record, I don't think the same issue applies to the hostname.

> [...] but it also registers at an IPv6 address, which hap-bonjour didn't.

Funny enough is that bonjour-hap pretty much takes ALL available addresses ([see](https://github.com/homebridge/bonjour/blob/016d206b8ae6973ea47a39f702047037e512067a/lib/Service.js#L116-L130)) and ciao is the library which filters those, or at least tries to only advertise the relevant ones (trying to not include internal or virtual interfaces, which bonjour-hap previously included).
Though, it shouldn't matter if a "broken" address is supplied as most queriers have a algorithm in place to check what is the most suitable address to use and also check on which addresses they can connect to 🤔 

> As it turns out, I can't reach this IPv6 from anywhere in my network (which is its own problem, and weird, since macOS/iOS devices are reachable fine via IPv6, but none of my RPIs is).

What address is `fd98:3dc0:dfa2:1:b68b:6f7d:fc03:7b5c`? Is `fd98` the appreciate prefix for you global unique ipv6 address? The other one is a link-local ipv6 address, meaning it is unique only on that specific link. This requires you to specify the outgoing interface whenever you want to ping (or whatever) the device (e.g. `ping6 fe80::1d2c:865:ad69:7a44%en0`, the part behind `%` is important to specify the outgoing interface). Sorry if you may know that already, but typically people are not aware of that and find themselves unable to connect to such addresses.

> I've now disabled ipv6 on the RPI4 by blacklisting the ipv6 module, and now it appears that all three of master, beta, and experimental are working fine

Hm weird. Either the fact that ipv6 is not included hides the issue of non responding unicast queries, idk. Cause the original capture I looked at clearly showed, that no response was ever sent 🤔.

---

> If it all boils down to the RPI4 not being reachable via the IPv6 address that ciao advertises (and that seems to have been handed out by my DHCP server), I wonder why the "Rmv" messages would show up on dns-sd running on my Mac.

Some background to mdns. Typically service advertisements have a ttl of 75 minutes before they expire. A typical querier would ensure every hour that the service is still there. As you can imagine, if the service shut down and didn't properly say goodbye 60 minutes is a long time for a querier to notice that change. Thus there is [Cache Flush on Failure Indication](https://tools.ietf.org/html/rfc6762#section-10.4). When the querier is aware of that the connection to the service failed somehow (tcp socket is closed, or it wasn't even able to connect in the first place), it will send some queriers and check if the service is still there. If it doesn't get an answer in the expected time, it will remove the service advertisement even before the ttl runs out. 

>  Does mdnsResponder somehow "locally" kill the registrations when it fails to connect?

So yes, pretty much. And not only "locally". There is also [POOF](https://tools.ietf.org/html/rfc6762#section-10.5): whenever a client sees another one doing what I described above it will also remove its advertisements from the local cache.

> Does HAP-NodeJS actually listen on IPv6? If so, I wonder what the problem with the RPI4 is then, since it's just running vanilla Raspbian without any special setup regarding the networking.

By default hap-nodejs will listen on the unspecified ipv6 address `::` whenever ipv6 is available ([see](https://nodejs.org/api/net.html#net_server_listen_port_host_backlog_callback)). For all systems having dual stack support this will listen on ipv6 and ipv4. Otherwise it will listen on the unspecified ipv4 address `0.0.0.0`.
the `.publish` method also now adds a new `bind` option which allows you to customize that and define on which interfaces to listen on.

---

Could we maybe further investigate why ipv6 is a problem for your machine (or rather, why the hell ciao advertises those addresses when bonjour-hap does not.).
Could you reenable ipv6 on your Pi and check what nodejs lists as available interfaces:

```
$ node // this will start a command line nodejs interpreter
...
> require("os").networkInterfaces()
> .exit // to close the interpreter again
```

Also the output if `ifconfig` would be interesting to compare those.

---

> which maybe explains why the order of devices in the iOS/macOS Homekit app get strangely rearranged when I switch between the old and new HAP-NodeJS versions, but that's not so important

I would love to investigate that problem in another issue as well 😅 if you got the time. Saw already some reports here and there where people described similar problems. Does this problem only occur with the beta, or when was the first version you saw this problem occurring?



As I'm currently looking at the provided Wireshark captures again. It seems like you overlooked my question 😅 
> What was the capture filter if I may ask? Only port 5353? Or did you configure anything else?

Just checking if the reason I don't see unicast response is just because it maybe was filtered out on accident.

> So the advertisements didn't disappear in dns-sd but the Home App did still show "No Response".

Yes, exactly – I didn't get the "Rmv" messages from dns-sd, but the iOS Home App showed all accessory with the "No Response" label.

> Funny enough is that bonjour-hap pretty much takes ALL available addresses (see) and ciao is the library which filters those, or at least tries to only advertise the relevant ones

Haha, yes, that's really odd then, because `hap-bonjour` really doesn't advertise the IPv6 address, I just checked it again to be absolutely sure – Or at least the IPv6 doesn't show up when resolving the MDNS hostname via `dns-sd -Gv4v6`.

> What address is fd98:3dc0:dfa2:1:b68b:6f7d:fc03:7b5c? Is fd98 the appreciate prefix for you global unique ipv6 address? 

That address is the one that the RPI4 must have received from the ISP-supplied router's DHCPv6 server, I suppose – It's the address for the eth0 interface. Actually, I do (unfortunately) not have a public IPv6 address, as it appears, or at least that's what https://test-ipv6.com reports for me. I've also checked in the router's configuration, and it appears that while its IPv6 support is enabled, it's seems to be configured not to obtain an IPv6 on the WAN interface – That's the ISP's default configuration. I will look into whether it's possible for me to obtain an IPv6 from the ISP by changing the router configuration (I know that an IPv4 address is part of my contract with them, but I wasn't aware that I wouldn't have an IPv6 address – it's most likely just a misconfiguration, since they typically use IPv6-only (because it's more or less "free" to them), unless you ask for v4 specifically). It's possible that (internal) IPv6 is somehow broken if IPv6 is disabled on the WAN port, I suppose.

I'll try to see if I can reconfigure the router for external IPv6 support and see if my ISP actually provides me an IPv6 address, and if that changes anything about how IPv6 behaves on the internal network. 

> Hm weird. Either the fact that ipv6 is not included hides the issue of non responding unicast queries, idk.

It's possible. So far, since I've disabled IPv6 on the RPI this Friday, everything has been working perfectly with HAP and ciao, and it just broke again when I un-blacklisted the ipv6 module again, so at least the behavior is reproducible.

> So yes, pretty much. And not only "locally". There is also POOF:

Aaah, thanks about that, I had never heard of this feature before! Yes, that would explain how the "Rmv" would appear in dns-sd on my Mac, basically in response to other clients' activities! I was already confused how dns-sd would "Rmv" anything without any query from that Mac preceding this.

> Could you reenable ipv6 on your Pi and check what nodejs lists as available interfaces:

Yes, sure – Now with IPv6 re-enabled, I get

```
gck@shimura:~ $ node
Welcome to Node.js v14.15.0.
Type ".help" for more information.
> require("os").networkInterfaces()
{
  lo: [
    {
      address: '127.0.0.1',
      netmask: '255.0.0.0',
      family: 'IPv4',
      mac: '00:00:00:00:00:00',
      internal: true,
      cidr: '127.0.0.1/8'
    },
    {
      address: '::1',
      netmask: 'ffff:ffff:ffff:ffff:ffff:ffff:ffff:ffff',
      family: 'IPv6',
      mac: '00:00:00:00:00:00',
      internal: true,
      cidr: '::1/128',
      scopeid: 0
    }
  ],
  eth0: [
    {
      address: '192.168.0.203',
      netmask: '255.255.255.0',
      family: 'IPv4',
      mac: 'dc:a6:32:04:89:af',
      internal: false,
      cidr: '192.168.0.203/24'
    },
    {
      address: 'fd00::d98a:c9cf:cbe7:fdae',
      netmask: 'ffff:ffff:ffff:ffff::',
      family: 'IPv6',
      mac: 'dc:a6:32:04:89:af',
      internal: false,
      cidr: 'fd00::d98a:c9cf:cbe7:fdae/64',
      scopeid: 0
    },
    {
      address: 'fe80::1d2c:865:ad69:7a44',
      netmask: 'ffff:ffff:ffff:ffff::',
      family: 'IPv6',
      mac: 'dc:a6:32:04:89:af',
      internal: false,
      cidr: 'fe80::1d2c:865:ad69:7a44/64',
      scopeid: 2
    }
  ]
}
>
```

And ifconfig:

```
gck@shimura:~ $ ifconfig
eth0: flags=4163<UP,BROADCAST,RUNNING,MULTICAST>  mtu 1500
        inet 192.168.0.203  netmask 255.255.255.0  broadcast 192.168.0.255
        inet6 fd00::d98a:c9cf:cbe7:fdae  prefixlen 64  scopeid 0x0<global>
        inet6 fe80::1d2c:865:ad69:7a44  prefixlen 64  scopeid 0x20<link>
        ether dc:a6:32:04:89:af  txqueuelen 1000  (Ethernet)
        RX packets 11339  bytes 1907996 (1.8 MiB)
        RX errors 0  dropped 2  overruns 0  frame 0
        TX packets 2590  bytes 239587 (233.9 KiB)
        TX errors 0  dropped 0 overruns 0  carrier 0  collisions 0

lo: flags=73<UP,LOOPBACK,RUNNING>  mtu 65536
        inet 127.0.0.1  netmask 255.0.0.0
        inet6 ::1  prefixlen 128  scopeid 0x10<host>
        loop  txqueuelen 1000  (Local Loopback)
        RX packets 0  bytes 0 (0.0 B)
        RX errors 0  dropped 0  overruns 0  frame 0
        TX packets 0  bytes 0 (0.0 B)
        TX errors 0  dropped 0 overruns 0  carrier 0  collisions 0
```

> I would love to investigate that problem in another issue as well 😅 if you got the time. Saw already some reports here and there where people described similar problems. Does this problem only occur with the beta, or when was the first version you saw this problem occurring?

Haha, yes, sure, I will check if I can pin down exactly which accessories exhibited the problem. It occurred when updating from 0.7.3 to 0.8.2 for me, and if I switch between these two versions, it happens reproducibly. I do have the node-persist folders for both versions, though.

> What was the capture filter if I may ask? Only port 5353? Or did you configure anything else?

Ah, sorry! The filter is "udp port 5353" (so unless the unicasts use dns-over-tcp, they should be included).

Remember where I got really confused that the Wireshark capture won't show any unicast responses. I just got why. Simply because it is unicast traffic. I assume you ran the Wireshark capture on your or something right? Obviously Wireshark won't show unicast packets which aren't directed to you. 😅 

> I'll try to see if I can reconfigure the router for external IPv6 support and see if my ISP actually provides me an IPv6 address, and if that changes anything about how IPv6 behaves on the internal network.

As those packets are link-local I don't think it is relevant what the addresses state is "outside" of your network. And nonetheless, if e.g. the iDevice detects that the address is not reachable it will just try another address and use that. So in any case it should fallback to ipv4 if that is working.

> It's possible. So far, since I've disabled IPv6 on the RPI this Friday, everything has been working perfectly with HAP and ciao, and it just broke again when I un-blacklisted the ipv6 module again, so at least the behavior is reproducible.

Okay, should have read further. So IPv6 (seemingly) really is the issue?

> Yes, sure – Now with IPv6 re-enabled, I get

Okay, now you get a link-local ipv6 and a unique local ipv6. Both those addresses are locally generated or assigned by the router. Does the setup work with those two addresses? Does the "regular" hostname advertise those addresses (like mDNSResponder)?

----

So I really lost the overview of this issue 😅. Where are we at with this issue. The problem seems to be related to the IPv6 addresses right?

Sorry for the super-late reply – I thought I already wrote one, but apparently it wasn't so! 🙈

> I just got why. Simply because it is unicast traffic. I assume you ran the Wireshark capture on your or something right? Obviously Wireshark won't show unicast packets which aren't directed to you.

Aaah, of course! I thought that WireShark automatically puts the interface into promiscuous mode, but I just checked again, it doesn't unless you tell it so explicitly! Yes, that would explain it!

> As those packets are link-local I don't think it is relevant what the addresses state is "outside" of your network. And nonetheless, if e.g. the iDevice detects that the address is not reachable it will just try another address and use that. So in any case it should fallback to ipv4 if that is working.

I am not sure, it shouldn't matter in theory, but with these cheap-ish ISP-supplied routers, it's hard to say what the settings actually do under the hood, and I can't rule it out that it not obtaining an IPv6 address from the ISP doesn't break anything regarding its IPv6 routing even in the internal network, or that there is some incompatibility between it and the Time Capsules and Airport Expresses I'm using to provide WiFi. I can't seem to figure out exactly what's the actual reason.

Most weirdly, IPv6 is working fine now as well (I gave my ISP a call, and they  provide me with an IPv6 address now, apart from the IPv4 address I already have  contractually guaranteed). I can use IPv6 now both in the internal network, as well as across the internet, but still: As soon as I enable IPv6 on the RPI with HAP-NodeJS, it breaks either straight-away or within a few minutes. It's mind-boggling.

But yes, disabling IPv6 on the RPI has solved it completely, and the reason it had worked with the pre-ciao versions simply was the  pre-ciao, HAP-NodeJS wouldn't advertise the IPv6 address.

So I suppose, the gist of it is... if upgrading to current HAP-NodeJS breaks your setup, try disabling IPv6 on the HAP-NodeJS host?

> Okay, now you get a link-local ipv6 and a unique local ipv6. Both those addresses are locally generated or assigned by the router. Does the setup work with those two addresses? Does the "regular" hostname advertise those addresses (like mDNSResponder)?

Yeah, exactly. The addresses work, or at least I can use the link-local address to ping6 and ssh into the RPI (of course, now  that I've disabled IPv6 again, I can't anymore). The mDNSResponder running on it doesn't advertise any IPv6 addresses though, and neither does `hap-bonjour`, even with IPv6 enabled.

I also don't know what else to try now (at least to track down the actual cause, since disabling IPv6 is at least a viable solution for me now). Maybe an issue with the arm-build of node I'm using (it's installed via `nvm`). I doubt it's the RPI, since it's just running an official Raspbian kernel, and a hardware issue interfering here would be really odd.

I'm also quite lost, actually 😃

Unfortunately, I'm encountering the same issue, but I'm on Windows 10. I tried disabling IPv6 on all network adapters, but that didn't help.

The published devices show up immediately after starting node, and then become "not responding" after about 60s.

I've set the `DEBUG` environment variable to `*` and noticed that ciao only performs 3 advertisements right after startup, and doesn't show any further activity afterwards. Is this intended behavior or a bug? I'm not familiar with mDNS, but I could imagine that devices need to continue advertising themselves in a certain interval. Would that solve this issue here? What did the previous non-ciao implementation do in that regard?

If there is anything I can log/do to help you with debugging this issue, please let me know. I'm happy to help.

@rutzfutz mDNS servers (or any multicast servers) are not required to re-announce themselves. If by re-announce you mean sending IGMP Join packets. If your router has some kind of multicast/igmp proxy feature, it rescans network by (simplified version) sending IGMP Query packets, which servers reply to. If your router has no such feature it also fine.

But there's another multicast routing feature, that can prevent normal multicast flow. It's usually found under the name _IGMP Snooping_. It's usually implemented in L2 devices: switches, separate WiFi Access Points, or even router (it acts as a swtich for its internal network)

How does it work? Usually this feature is made to limit multicast traffic accross devices in the same subnet. It listens for IGMP Join/Leave queries and remembers where multicast servers live in the LAN.

But, as I mentioned before, multicast servers are not required to announce its presence each N minutes, so with IGMP Snooping on, smart switch thinks, that server has disconnected (or network is down) and forgets about it.

There's where IGMP Querier comes into the play. Your (usually) router (or separate software) in your LAN should rescan network to initialte IGMP packets to flow, for your switch to remember them again.

If your router has no IGMP querier (multicast proxy, etc), turning _IGMP Snooping_ on some switch may break multicast traffic.

(Some devices has more settings to control IGMP Snooping, so it also may help)

But it's rarely a case, if your network hardware is only a router.

@dmzkrsk Thank you for the insights into how mDNS/multicast works!

In my case, I think I can safely assume that my router or network is not the culprit, because my Philips Hue HomeKit-capable bridge is connected to the very same router and has no issues at all staying connected to HomeKit.

Ciao apparently behaves differently to the Philips Hue bridge in some aspect that causes its services to appear "not responding" after the first successful announcement to the network.

Can I find out through Wireshark if an IGMP querier is in my network?

In case there is none, could it be that the Philips Hue bridge detects that no IGMP querier is asking about them and therefore automatically reannounces itself periodically?

@rutzfutz try sniffing IGMP (`igmp` in Wireshart filter) packets only, they should reach all computers in LAN segment

So, I started sniffing IGMP traffic and compared the (working) Philips Hue bridge IGMP traffic to the (problematic) traffic caused by ciao.

Here are the differences I found:

1. Philips Hue responds to both QU and QM queries, while ciao only responds to QM queries.
2. Philips Hue membership query responses are flagged as "authoritative", while those from ciao are not.
3. Philips Hue membership query responses are not flagged as retransmissions, while those from ciao except the first one are (`[Retransmission: True]`).
4. Philips Hue membership query responses are all marked as unsolicited (`[Unsolicited: True]`).
5. Philips Hue membership query responses use a TTL of 120 (2 minutes), while those from ciao use 4500 (1 hour, 15 minutes). Maybe this is too long?
6. In the additional records of ciao, an NSEC record references an "RR type in bit map: AAAA (IPv6 Address)", although no AAAA record is available for this device and none was sent with the response.
7. The order of additional records is different between the two systems, but I don't think that this actually matters. Here are the two compared:
    - Philips Hue: A, AAAA, AAAA, TXT, SRV, NSEC with RR types A and AAAA, NSEC with RR types TXT and SRV
    - Ciao: TXT, SRV, A, NSEC with RR types TXT and SRV, NSEC with RR types A and AAAA

Hope that helps. I'm not sure if any of the above findings may be the source of the issue, but if possible, I'd suggest changing ciao's behavior to match that of Philips Hue and see if it resolves the issue.

> I've set the DEBUG environment variable to * and noticed that ciao only performs 3 advertisements right after startup, and doesn't show any further activity afterwards. Is this intended behavior or a bug? I'm not familiar with mDNS, but I could imagine that devices need to continue advertising themselves in a certain interval. Would that solve this issue here? What did the previous non-ciao implementation do in that regard?

This is definitely not expected. It seems ciao doesn't receive any queries for some reason 🤔 it should, at least at a minimum of every hour. Having Apple devices on your network you should say way more queries and answers being sent.

----

@rutzfutz Thanks for the detailed list of observations. What version of hap-nodejs are you running if I may ask?

To your points.

1. The current release ignores the QU flag. We found that people have way to many issues with the latest migration from bonjour-hap to ciao. Ignoring the QU flag for now (which bonjour-hap also did) improved the situation for us. We found that this is a somewhat reasonable way of moving to a more RFC compliant library for now and solving the other problems in the future.
2. This is a bug fixed in the latest beta release, which didn't yet arrive in the stable release. The RFC states the authoritative flag MUST be ignored, meaning this shouldn't affect anything. And my observations is it didn't, at least in my environment. 
3. `Retransmission: True` is something added by wireshark. As mDNS is based on regular DNS packets, Wireshark uses regular DNS packet decoding. DNS has a `id` field in the query/response, which identifies which response belongs to which query. If you got two responses with the same id you know its a retransmission. In mDNS the id field MUST be set to zero and ignored on reception. Thus pretty much all mdns packets should be flagged as retransmissions. Would be interesting why the hue responses aren't flagged as such.
4. Not sure what `Unsolicited: True` means, but I assume wireshark didn't find a query with the same id in this case. Again to my understanding this is from the DNS world, which doesn't have a meaning the in the mDNS world.
5. When you say "membership query response" you mean the main PTR record? If that's the case 120 seconds is **wrong** out of the RFC perspective. RFC 6762 suggest 75 minutes (4500 seconds) for any record NOT containing the hostname. which is true for the main PTR record. This is crucial to mDNS as this will imply a query being sent every hour. Otherwise queriers interested in the PTR records would need to send a query every 100 seconds, which is way to much.
6. NSEC is the negative response (see RFC 6762). If a certain record does not exists, any mDNS responser SHOULD send a negative response. Meaning in your case this is correct. There are no AAAA records, thus the negative response NSEC record indicates that there are indeed no AAAA records and the querier does not need to continue querying for it.
7. Order shouldn't matter. Unless your querier implementation is fundamentally broken.

Thanks for your detailed research. Apart from the first point, which is the result of continuous struggle with the ciao library and our aim to somehow ship that thing, the other points aren't really an issue creating the said "no response" or missing advertisement issue.


Happy if anyone finds anything else which seems odd to them. 

> @rutzfutz Thanks for the detailed list of observations. What version of hap-nodejs are you running if I may ask?

You're welcome. I'm running version 0.8.3 of hap-nodejs which comes with version 1.1.0 of ciao. Please let me know if I should try another version on the same network.

> This is definitely not expected. It seems ciao doesn't receive any queries for some reason 🤔 it should, at least at a minimum of every hour. Having Apple devices on your network you should say way more queries and answers being sent.

There are indeed lots of regular queries from Apple devices in my home (about 1-2 queries per minute), but they are all ignored by ciao because they all use the QU flag. I had the impression that HomeKit considers my hap-nodejs accessories to be "not responding" after the first of those regular queries is not answered by hap-nodejs. Could section 10.5. (Passive Observation Of Failures) of RFC 6762 be the cause for the issue, as some part of my network observes that hap-nodejs is not responding to queries?

> 1. The current release ignores the QU flag. We found that people have way to many issues with the latest migration from bonjour-hap to ciao. Ignoring the QU flag for now (which bonjour-hap also did) improved the situation for us. We found that this is a somewhat reasonable way of moving to a more RFC compliant library for now and solving the other problems in the future.

It's good to know that this was intentional. Is it possible for me to make ciao respond to QU queries again? I'd be happy to give it a try to see if this difference to Philips hue is the culprit or not.

> 2. This is a bug fixed in the latest beta release, which didn't yet arrive in the stable release. The RFC states the authoritative flag MUST be ignored, meaning this shouldn't affect anything. And my observations is it didn't, at least in my environment.

Yes, I've read that in the RFC, too. Strangely enough, the RFC states in the same paragraph that the authoritative flag MUST still be set, even if recipients are meant to ignore it. How can I install the latest beta release? I'll give the version with the authoritative flag a try as well.

> 3. `Retransmission: True` is something added by wireshark. As mDNS is based on regular DNS packets, Wireshark uses regular DNS packet decoding. DNS has a `id` field in the query/response, which identifies which response belongs to which query. If you got two responses with the same id you know its a retransmission. In mDNS the id field MUST be set to zero and ignored on reception. Thus pretty much all mdns packets should be flagged as retransmissions. Would be interesting why the hue responses aren't flagged as such.

I've tried to find the reason why Wireshark does not consider the Philips hue responses to be retransmissions, but sadly didn't find anything. It's good to know that this is the result of Wireshark analysis (which of course may be wrong). Maybe we should ignore those additional details for now and focus on the actual package contents.

> 5. When you say "membership query response" you mean the main PTR record? If that's the case 120 seconds is **wrong** out of the RFC perspective. RFC 6762 suggest 75 minutes (4500 seconds) for any record NOT containing the hostname. which is true for the main PTR record. This is crucial to mDNS as this will imply a query being sent every hour. Otherwise queriers interested in the PTR records would need to send a query every 100 seconds, which is way to much.

Sorry for not being more specific. I was referring to the SRV record. For all the other records, the TTL seems to match between Philips hue and ciao.


> You're welcome. I'm running version 0.8.3 of hap-nodejs which comes with version 1.1.0 of ciao. Please let me know if I should try another version on the same network.

You may want to move to the beta by installing `hap-nodejs@beta`, this should install ciao 1.1.1 beta which contains the fix. I may just back port the 1.1.1 ciao release to 0.8.x 🤔 

> There are indeed lots of regular queries from Apple devices in my home (about 1-2 queries per minute), but they are all ignored by ciao because they all use the QU flag. I had the impression that HomeKit considers my hap-nodejs accessories to be "not responding" after the first of those regular queries is not answered by hap-nodejs. Could section 10.5. (Passive Observation Of Failures) of RFC 6762 be the cause for the issue, as some part of my network observes that hap-nodejs is not responding to queries?

I think what you observe as packets being ignored is the result of the "Known-Answers suppression", detailed as well in RFC 6762. If the query contains an answer section, those are interpreted as "known answers to the querier". If a responder finds records of itself in this section it won't respond to the query (as the querier already knows the answer, there is no need to send a response). So might check if that's what you are seeing.
Because to QU queries ciao will still respond with a answer over multicast.

> It's good to know that this was intentional. Is it possible for me to make ciao respond to QU queries again? I'd be happy to give it a try to see if this difference to Philips hue is the culprit or not.

When running the beta there should be an option in the `persist/AccessoryInfo.x.json` file where you can enable the correct behavior: `"enableUnicastResponse": true` should enforce correct RFC compliant behavior.

> Sorry for not being more specific. I was referring to the SRV record. For all the other records, the TTL seems to match between Philips hue and ciao.

Just double checked, as I was sure that we would set the correct ttl. You are right 120 seconds would be correct for the SRV record. And indeed I you are right, this is not properly set to 120. I pushed a update to the ciao library. When installing the beta check that it install ciao 1.1.1-beta.2. But not sure what impact a longer ttl has on the SRV record 🤔 

Released [ciao v1.1.1](https://github.com/homebridge/ciao/releases/tag/v1.1.1). New installs or reinstalls of 0.8.3 should now also gain the fix said fixes.

Thank you for your response and package updates. I tested both ciao v1.1.1 (by reinstalling hap-nodejs v0.8.3) and the latest beta of hap-nodejs (v0.9.0-beta.94) now. I tested with `enableUnicastResponse` remaining at `false`, and I also tried setting it to `true`.

If hap-nodejs sends query responses now, they are matching those sent by Philips hue - great job! However, hap-nodejs still does not respond to most of the queries I see in Wireshark, while Philips hue responds to all of them. Unfortunately, the hap-nodejs accessories still become "not responding" quickly after startup, so I assume that the issue lies in ciao not responding to queries that Philips hue responds to.

Therefore, I dug deeper and started modifying the ciao package code directly, until I found the culprit:

In ciao's `MDNSServer.js` in [this line](https://github.com/homebridge/ciao/blob/e35d4439c511ff4138c6d4f392d77290adca27e6/src/MDNSServer.ts#L513), you're checking if received DNS packets are coming from the local interface subnet. **This check is the reason why ciao fails to respond to queries that Philips hue responds to correctly**. I've got 4 different subnets in my home (one subnet for LAN devices with access to the local network, one for LAN devices with Internet-only access, one for WLAN devices with access to the local network, and one for WLAN with Internet-only access), and permitted multicast traffic is selectively allowed to cross subnet boundaries by my router.

I assume that you have put this check there because of RFC 6762 section 5.5, which states:
> responders SHOULD check that the source address in the query packet matches the local subnet for that link (or, in the case of IPv6, the source address has an on-link prefix) and silently ignore the packet if not.

However, this section only refers to direct unicast queries to port 5353, but you seem to apply this filtering also to multicast queries. I think that this filtering goes beyond what the RFC requests and causes my issue.

If I simply comment out the `return;` statement in this block, everything starts to work immediately.

Hope this helps!

@rutzfutz Interesting. I already suspected that this could be causing issues, but never achieved to prove that it indeed does.
Already grateful for your help.

I didn't really but the check there because of the RFC, or not only (because we can't distinguish between unicast and multicast traffic). The reason is kind of explained below in the comment.

Ciao is built to work on multiple interfaces, meaning it must only respond with address records which actually belong to the interface. Originally the idea was that we create a socket for every interface, in order to know from which interface a dns query is received. This works as expected on e.g. macOS. This didn't work as expected on linux based systems.

e.g. Binding 0.0.0.0 on macOS will let you receive traffic from all interfaces, but not multicast traffic. If you join a multicast group, you now only receive multicast traffic for the specified interface you joined the multicast group. This is what I would expect.

This is not the case for linux. Binding on 0.0.0.0 will let you receive literally everything, meaning also all multicast traffic from all networks (for that port). Adding multicast membership didn't seem to change anything.
As of this we would for example receive mdns queries on the "loopback socket" which should only receive traffic on the mdns multicast address on the loopback interface. This then leads to e.g. advertising the loopback address on the network, which obviously doesn't make sense.

Long story short, we couldn't really distinguish from which interface a mdns query comes from. Thus the reason I built in this subnet check (which I though was also supported by the RFC as you mentioned). Not sure if that above is maybe just a bug in either nodejs or the kernel. Maybe I should verify that his behavior is still present, maybe this was fixed, idk.

Anyways I know now on what I need to workaround, as this subnet check can't be a solution to the problem. Thanks for digging that deep into ciao code and bringing that to light 👍🎉

I will need to reverify if the described issue is still present (maybe even checking our different supported node version, 10, 12, ...). If this is still the case I could see just adding this special check for the loopback interface, and rely on the querier to select the right address, which they usually do.

Quick update. I can still reproduce the said issue running a RaspberryPi 3 kernel 5.4.79-v7+ with node v12.20.0.

To reproduce: Startup a receiver using https://gist.github.com/Supereg/4acf582e7052134e267c7effd027ef0f, which creates a socket joining the multicast group with the primary interface e.g. `eth0`. Referred to as A.
Then startup a sender using https://gist.github.com/Supereg/58be67a53878ec81212ad1d05d1ebaf5, which sends a message to the multicast group from the loopback interface.

What you will observer at A is, that a message is received from the the address "127.0.0.1". To be this is unexpected. I know this doesn't happen on macOS for example. I need to test if stuff like FreeBSD or OpenBSD have the same "issue".
Maybe I should raise an issue over at the dgram team over at the node repo?
Maybe as a second step I might want to build a example program in C, interfacing directly with the linux kernel, to test if my expected behavior works there.

Could the line `socket.setMulticastLoopback(true)` be the issue here? Have you tried changing it to `false` to see if the effect you described still happens then?

If I understand the node.js documentation correctly, it says that it is expected to receive multicast packets on the local interface when this flag is `true`:
> Sets or clears the IP_MULTICAST_LOOP socket option. When set to true, multicast packets will also be received on the local interface.

> Could the line socket.setMulticastLoopback(true) be the issue here? Have you tried changing it to false to see if the effect you described still happens then?

Same effect when set to false.

This option is relevant when *sending* to a multicast address. It defines if the sent packet should be routed back to the own device (e.g. so that other mdns responders like avahi can receive the same query).
As we are sending to the loopback interface it actually doesn't make a difference, as the traffic is always routed back to itself. Thats the definition of loopback.

My solution for ciao, currently would be to keep the subnet check for the loopback interface and additionally adding a check on the other interfaces, if a packet comes from the loopback address.
This is to avoid that the loopback address leaks onto the network. As most people are running only one network anyways this shouldn't be that big of a problem. In such cases the address selection on the client side will take care of it anyways.

If I got time I will probably inspect the issue in more detail, and check if this needs to be revised with the dgram team or if this is expected behavior. 

Does it solve your issue if you bind to a specific interface IP rather than skipping the optional `address` argument in your call to `socket.bind()`?

Example code:
```node
socket.bind(5353, '<your local interface IP here>', () => {
  // ...
})
```

> Does it solve your issue if you bind to a specific interface IP rather than skipping the optional `address` argument in your call to `socket.bind()`?
> 
> Example code:
> 
> ```js
> socket.bind(5353, '<your eth0 interface IP here>', () => {
>   // ...
> })
> ```

Doing so will yield an error on platforms like macOS (throwing Adress already in use, event though `"reuseaddr": true` is set). On linux binding works, but it doesn't receive any multicast traffic at all. I've been there 😅 but yeah, just verified it right now.

> Doing so will yield an error on platforms like macOS (throwing Adress already in use, event though `"reuseaddr": true` is set). On linux binding works, but it doesn't receive any multicast traffic at all. I've been there 😅 but yeah, just verified it right now.

Too bad. On Windows, everything works as expected, no matter which version I use (both your original gist, as well as my version with an interface IP to bind to). Well, then I think your proposed loopback address leak solution is the best way to go currently.

> > Doing so will yield an error on platforms like macOS (throwing Adress already in use, event though `"reuseaddr": true` is set). On linux binding works, but it doesn't receive any multicast traffic at all. I've been there 😅 but yeah, just verified it right now.
> 
> Too bad. On Windows, everything works as expected, no matter which version I use (both your original gist, as well as my version with an interface IP to bind to). Well, then I think your proposed loopback address leak solution is the best way to go currently.

I'm starting to think that this is indeed a bug in either the nodejs dgram module or the linux kernel itself(?).
Anyways, my proposed workaround is now live with `v0.9.0-beta.96`, this also "enables" unicast responses by default again. Meaning restoring proper RFC compliant behavior.
Would be great if you could quickly verify that it works for you 👍 

I installed `v0.9.0-beta.96` some minutes ago and can confirm that everything works well for me since then. All the accessories published by hap-nodejs remain responsive. Great job!

Great. I'll test this version with one guy, who continuously had issues as well when running ciao in his multiple subnet network. Maybe we just found the issue I was searching for the last few months 🙃
In any case, I will probably prepare a 0.8.4 release containing the updated ciao 1.1.x release.

> Great. I'll test this version with one guy, who continuously had issues as well when running ciao in his multiple subnet network. Maybe we just found the issue I was searching for the last few months 🙃
> In any case, I will probably prepare a 0.8.4 release containing the updated ciao 1.1.x release.

Awesome. I'm optimistic that this will solve the other guy's issues as well, as well as those of many others we may have never heard of because they didn't open an issue here or comment on one.

For example, I just saw one guy posting on Reddit about the very same issue I think - maybe you can contact him too once homebridge is also updated with the new code: https://www.reddit.com/r/HomeKit/comments/kl9xz0/homekit_devices_not_responding_across_vlans_i/

I'm happy to have contributed to the solution! 😊

Some users still report the same problem as describe in this issue with the ioBroker Yahka Adapter which is using HAP-NodeJS.
An update to 0.8.5 didn't solve the problem. I now included the latest beta (0.9.0-beta.113) and let those people enable the "legacy advertiser" and everything works again*.

The problem appeared when I updated from the library from 0.4.53 to 0.8.2. And since it's working with 0.9.0-beta.113 with the legacy advertiser, I guess it has something to do with the ciao-library.
For reference here the ticket: https://github.com/jensweigele/ioBroker.yahka/issues/212 (in german)

Sorry for the inconveniences. When updating to 0.9.0 beta you need to manually switch on the `legacyAdvertiser` in the publish options, but seems like you found that option 👍 

I upgraded the globally-installed npm and Homebrew packages on my Mac mini running macOS Big Sur 11.2.1 tonight. Of note, I upgraded from [Node.js 14.15.5](https://github.com/Homebrew/homebrew-core/blob/93af4931a850e5c15073cd7a6af7e9bfe5874a1e/Formula/node%4014.rb) to [Node.js 14.16](https://github.com/Homebrew/homebrew-core/blob/HEAD/Formula/node@14.rb) (and `icu4c`, its dependency, from [icu4c 67.1](https://github.com/Homebrew/homebrew-core/blob/93af4931a850e5c15073cd7a6af7e9bfe5874a1e/Formula/icu4c.rb) to [icu4c 68.2](https://github.com/Homebrew/homebrew-core/blob/d90b07e432ee5265eb71c4053b9863e564cea1a9/Formula/icu4c.rb)), and from [Homebridge 1.3.1](https://github.com/homebridge/homebridge/releases/tag/v1.3.1) to [Homebridge 1.3.3](https://github.com/homebridge/homebridge/releases/tag/v1.3.1).

After the updates, I noticed my accessories began showing as “Not Responding”. To troubleshoot, I did the following (not in this order, and sometimes more than once):
* Restarted the Homebridge `launchd` service
* Restarted the Mac mini
* Restarted the HomePod serving as a [Home Hub](https://support.apple.com/en-us/HT207057)
* Restarted my gateway, switch, and access points
* Force-killed and reopened the Home app
* Checked the Home app on another device on the same network
* Checked `_hap._tcp` in the [Discovery Bonjour browser](https://apps.apple.com/us/app/discovery-dns-sd-browser/id305441017) iOS app and saw that Homebridge wasn’t advertising
* Changed my [`"bridge.advertiser"`](https://github.com/homebridge/homebridge/wiki/mDNS-Options) setting from `"ciao"` to `"bonjour-hap"`
* Specified my interface with [`"bridge.bind"`](https://github.com/homebridge/homebridge/wiki/mDNS-Options)
* Temporarily disabled [IGMP Snooping](https://help.ui.com/hc/en-us/articles/360001004034-UniFi-Best-Practices-for-Managing-Chromecast-Google-Home-on-UniFi-Network) for my network
* Waited half an hour
* Downgraded to the last known-working version of Homebridge (1.3.1)
* Downgraded to the last known-working version of Node.js (14.15.5) (+ icu4c 67.1)

Nothing resolved the issue until I downgraded Node.js from 14.16.0 back to 14.15.5. Is it plausible there is an issue with Node.js 14.16.0 and `ciao`, or is this likely a coincidence?